<div>
    <h3>reset password</h3>
    <form [formGroup]="mForm" (ngSubmit)="onSubmit()">
      <div>
  
        <div class="col-md-4 mb-3">
            <label for="password">Password</label>
            <input formControlName="password" class="form-control" type="password">
            <div *ngIf="mForm.controls['password'].errors != null && mForm.controls['password'].touched">
              <small style="color:red" *ngIf="mForm.controls['password'].errors['required'] != undefined">Password is required.</small>
              <small style="color:red" *ngIf="mForm.controls['password'].errors['maxlength'] != undefined || mForm.controls['password'].errors['minlength'] != undefined">The minimum Password length is 6 characters.</small>
            </div>
          </div>
    
          <div class="col-md-4 mb-3">
            <label for="confirmPassword">ConfirmPassword</label>
            <input formControlName="confirmPassword" class="form-control" type="password">
            <div *ngIf="mForm.controls['confirmPassword'].errors != null && mForm.controls['confirmPassword'].touched">
              <small style="color:red" *ngIf="mForm.controls['confirmPassword'].errors['confirmedValidator'] != undefined">ConfirmPassword and Password do not match.</small>
            </div>
          </div>
  

      </div>
  
      <p *ngIf="lastErrorMessage != ''" style="color: red;">{{lastErrorMessage}}</p>
  
      <button *ngIf="!mForm.valid" class="btn btn-primary" type="submit" disabled>Send</button>
      <button *ngIf="mForm.valid" class="btn btn-primary" type="submit">Send</button>
    </form>
  </div>
  
  
  