<footer>
    <div class="link-top">
        <div class="links">
            <a href="#">FAQ</a>
            <a href="#">Contact</a>
            <a href="#">About us</a>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
        </div>
        <div class="links-app">
            <a href="https://play.google.com/store/apps/developer?id=Ch-Tima">
                <img src="../../assets/svg/play-google.svg">
            </a>
        </div>
    </div>
    <hr>
    <div class="link-bottom">
        <h5>BeautyBook</h5>
        <div class="link-social">
            <a href="https://github.com/ch-tima">
                <img src="../../assets/svg/instagram.svg">
            </a>
            <a href="https://github.com/ch-tima">
                <img src="../../assets/svg/facebook.svg">
            </a>
            <a href="https://github.com/ch-tima">
                <img src="../../assets/svg/twitter.svg">
            </a>
        </div>
    </div>
</footer>