hr{
    background-color: #c3c3c3;
    border: 0;
    border-bottom: 1px solid;
    border-color: #c3c3c3;
    color: #c3c3c3;
    display: block;
    margin: 16px 5px
}

img{
    user-select: none;
}

/*main-box*/
.company-container{
    display: flex;
    justify-content: center;
}

/*center-container*/
.center-container{
    display: block;
    margin-right: 1.35em;
    width: 720px;
}

.image-slider{
    height: 470px;
}

.sliders-heart img{
    width: 50px;
    position: relative;
    bottom: 5rem;
    z-index: 88;
    right: 3rem;
    float: right;
}

/*services*/
.services{
    margin: 15px 10px 0 10px;
}
.services-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.services-header h4{
    margin: auto 0;
}
.input-search{
    display: flex;
    height: 35px;
}
.input-search input{
    border-radius: 0 0.375rem 0.375rem 0;
    margin-left: -1px;
}
.input-search-img{
    display: flex;
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem 0 0 0.375rem;
    height: 35px;
}
.input-search-img img{
    width: 20px;
    filter: opacity(0.5);
}
.service-item{
    margin: 0 5px;
}
.service-data{
    display: flex;
    justify-content: space-between;
}
.service-title{
    margin: 0;
}
.service-right-data{
    display: flex;
}
.service-right-data button{
    margin: auto 10px;
    max-height: 38px;
}
.service-right-data div p{
    margin: 0;
}
.service-price{
    font-size: 18px;
}
.service-time{
    color: #6c757d;
    font-size: 14px;
}

/*right-container*/
.right-container{
    background-color: #fafafa;
    margin-left: .35em;
    width: 280px;
    height: min-content;
    padding: .30em .35em;
    position: sticky;
    top: 5em;
}
.right-container .title{
    text-align: center;
    margin: 0 .25em;
}

/*staffers-carousel*/
.staffers-carousel{
    margin: 0 auto;
    max-height: min-content;
    user-select: none;
}

.staffers-item{
    margin: 0 5px;
    border-radius: 100%;
}
.staffers-item img{
    max-width: 60px;
    max-height: 60px;
    margin: 0 auto;
    border-radius: 100%;
    display: block;
}

.staffers-item p{
    text-align: center;
    margin: 0;
    font-size: 14px;
}

.staffers-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
}

/*contacts-data*/
.contacts-item{
    display: flex;
}
.contacts-item img{
    width: 28px;
}
.contacts-item p{
    margin: auto 0 auto 10px;
}
.copyable-text {
  cursor: pointer;
  color: #007bff;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.copyable-text:hover {
  text-decoration: underline;
}

/*schedule-data*/
.schedule-data{
    margin: 0 5px;
}
.schedule-item{
    display: flex;
    justify-content: space-between;
}
.schedule-item p{
    font-size: 15px;
}

/*social-links*/
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    margin: 0 10px;
}
.social-links img{
    width: 45px;
}

/*media*/
@media(max-width: 960px){
    .company-container{
        display: block;
    }
    .image-slider{
        height: 425px;
    }
    .center-container{
        width: auto;
        margin: 0;
    }
    .right-container{
        width: 100%;
        margin: 1em 0 0 0;
    }
    .copyable-text{
        width: 325px;
    }
}
@media(max-width: 540px){
    .staffers-item img{
        max-width: 50px;
        max-height: 50px;
        margin: 0 2px;
        border-radius: 100%;
    }
    .image-slider{
        height: 360px;
    }
    .services-header{
        justify-content: center;
    }
    .services-header h4{
        display: none;
    }
    .sliders-heart img{
        width: 45px;
    }
}
@media(max-width: 400px){
    .image-slider{
        height: 200px;
    }
}