<ng-container *ngIf="likes != undefined;else loading">
    
    <ng-container *ngIf="likes.length != 0; else empty">
        <div class="list-wrap">
            <div *ngFor="let item of likes">
                <app-company-card (clickLike)="remove($event)" [company]="item.company"></app-company-card>
            </div>
        </div>
    </ng-container>

    <ng-template #empty>
        <p class="text-center h5">No favorite companies</p>
    </ng-template>

</ng-container>

<ng-template #loading>
    <mat-spinner style="margin: 1em auto;"></mat-spinner>
    <p class="text-center h5 my-3">Loading...</p>
</ng-template>