<h4>Reset your password</h4>
<form [formGroup]="mForm" (ngSubmit)="onSubmit()">
    
      <div class="col-md-4 mb-3">
        <label for="email">Email</label>
        <input formControlName="email" class="form-control" type="text" *ngIf="mForm.controls['email'].valid || !mForm.controls['email'].touched">
        <div *ngIf="!mForm.controls['email'].valid && mForm.controls['email'].touched">
          <input formControlName="email" class="form-control is-invalid" type="text">
          <small style="color:red" *ngIf="mForm.controls['email'].errors?.['required'] != undefined">Email is required.</small>
          <small style="color:red" *ngIf="mForm.controls['email'].errors?.['email'] != undefined">This isn't an email address.</small>
        </div>
      </div>

      <button *ngIf="mForm.valid" class="btn btn-primary">reset</button>
      <button *ngIf="!mForm.valid" class="btn btn-primary" disabled>reset</button>
</form>

<div *ngIf="result != ''">
    <p style="color: red;" *ngIf="isErrorResult == true">{{result}}</p>
    <p style="color: green;" *ngIf="isErrorResult == false">{{result}}</p>
</div>

<a href="/login">Login</a>