.card{
    margin: 1em auto;
    position: relative;
    width: fit-content;
    border: none;
}

.w100{
    width: 100%;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

.card-img{
    width: 225px;
    height: 150px;
    object-fit: cover;
    border-radius: 0.35em;
    box-shadow: 2px 10px 15px grey;
}

.card-img-big{
    width: 281px;
    height: 187px;
}

.container-data{
    display: flex;
    margin: 0.75em 8px 0 8px;
}

.data-company{
    width: 100%;
}

.hind-p200px p{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.hind-p500px p{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.data-company .location{
    font-size: 12px;
    color: #767676;
}

.f21px{
    font-size: 21px;
}

.f17px{
    font-size: 17px;
}

.like{
    width: 30px;
    filter: opacity(0.8);
}

.like-position{
    position: absolute;
    bottom: 0;
    right: calc(100% - 325px);
    margin: 0 5px 5px 0;
    filter: opacity(0.8);
}

.grade{
    background-color: #000000af;
    position: absolute;
    top: 0;
    right: calc(100% - 225px);
    z-index: 13;
    width: 50px;
    border-radius: 0 0.35em;
}

.grade-big{
    right: calc(100% - 281px);
}

.grade p{
    color: white;
    text-align: center;
    margin: 5px 2px;
    user-select: none;
}
