<div class="container my-2">
    <h1>{{"HiWelcomeBack"|translate}}</h1>
    <h3>{{"LoginHere"|translate}}</h3>
    <form [formGroup]="mForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="col-md-4 mb-3">
          <label for="email">{{"Email"|translate}}</label>
          <input formControlName="email" class="form-control" type="text" *ngIf="mForm.controls['email'].valid || !mForm.controls['email'].touched">
          <div *ngIf="!mForm.controls['email'].valid && mForm.controls['email'].touched">
            <input formControlName="email" class="form-control is-invalid" type="text">
            <small style="color:red" *ngIf="mForm.controls['email'].errors?.['required'] != undefined">{{"EmailIsRequired"|translate}}</small>
            <small style="color:red" *ngIf="mForm.controls['email'].errors?.['email'] != undefined">{{"ThisIsNotEmailAddress"|translate}}</small>
          </div>
          
        </div>
        <div class="col-md-4 mb-3">
          <label for="password">{{"Password"|translate}}</label>
          <input formControlName="password" class="form-control" type="password" *ngIf="mForm.controls['password'].valid || !mForm.controls['password'].touched">
          <div *ngIf="!mForm.controls['password'].valid && mForm.controls['password'].touched">
            <input formControlName="password" class="form-control is-invalid" type="password">
            <small style="color:red" *ngIf="mForm.controls['password'].errors?.['required'] != undefined">{{"PasswordIsRequired"|translate}}</small>
          </div>
        </div>
      </div>
      
      <p *ngIf="lastErrorMessage != ''" style="color: red;">{{lastErrorMessage}}</p>
  
      <button class="btn btn-primary" type="submit" [disabled]="!mForm.valid">{{"SignIn"|translate}}</button>
      
      <span>
        {{"DoNotHaveAnAccount"|translate}}
        <a routerLink="/register">{{"Register"|translate}}</a>
      </span>
      <span>
        <p></p>
        <a routerLink="/forgotPassword">{{"ForgotPassword"|translate}}</a>
      </span>
    </form>
  </div>