<p *ngIf="header != ''" class="h5 text-center my-1">{{header}}</p>
<form mat-dialog-content [formGroup]="mForm" (ngSubmit)="onSubmit()">
    <div class="form-group my-2">
        <input class="form-control" formControlName="country" placeholder="{{'Country'|translate}}" type="text" list="listCountry">
        <datalist id="listCountry">
            <option value="{{item.country}}" *ngFor="let item of (location$ | async)">
        </datalist>
    </div>
    <div class="form-group my-2">
      <input class="form-control" formControlName="city" placeholder="{{'City'|translate}}" type="text">
    </div>

    <small class="text-danger">{{errorMessages}}</small>

    <div mat-dialog-actions align="end" *ngIf="!data.isUpdateMode">
        <button *ngIf="mForm.valid" class="btn btn-primary w-25" type="submit">{{"Add"|translate}}</button>
        <button *ngIf="!mForm.valid" class="btn btn-primary w-25" type="submit" disabled>{{"Add"|translate}}</button>
    </div>

    <div *ngIf="data.isUpdateMode" mat-dialog-actions align="end">
      <button mat-button cdkFocusInitial *ngIf="mForm.valid" class="btn btn-primary mx-1" type="submit">{{"Update"|translate}}</button>
      <button mat-button cdkFocusInitial *ngIf="!mForm.valid" class="btn btn-primary mx-1" type="submit" disabled>{{"Update"|translate}}</button>
    </div>
</form>    
