
<div class="container py-3">

  <form [formGroup]="mForm" (ngSubmit)="onSubmit()">

    <div>
      <mat-form-field [matTooltipPositionAtOrigin]="true" matTooltip="Choose a year not later than the current one, otherwise the event won't be accepted until the set year.">
        <mat-label >Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="exceptionDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="mForm.controls['exceptionDate'].errors != null && mForm.controls['exceptionDate'].touched">This is the wrong format</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Write the reason</mat-label>
        <input matInput placeholder="reason" formControlName="reason">
        <mat-error>Text must be under 100 chars.</mat-error>
      </mat-form-field>
    </div>
  
    <div class="slide-toggle-grid-2x1">
      <p>We don't work</p><mat-slide-toggle (change)="onChangedSlideToggle($event)" #isShortDay formControlName="isClosed"/>
      <p>Just one time</p><mat-slide-toggle #isOnce formControlName="isOnce"/>
    </div>

    <ng-container *ngIf="!mForm.controls.isClosed.value">
      <div class="container-time">
        <div class="timepicker">
          <label>{{"StartTime"|translate}}:</label>
          <mat-form-field>
            <input matInput [format]="24" [ngxMatTimepicker]="timeStart" formControlName="openFrom" placeholder="09:00" readonly />
          </mat-form-field>
          <ngx-mat-timepicker color="accent" #timeStart></ngx-mat-timepicker>
        </div>
        <div class="timepicker">
          <label>{{"EndTime"|translate}}:</label>
          <mat-form-field>
            <input matInput [format]="24" [ngxMatTimepicker]="timeEnd" formControlName="openUntil" placeholder="09:00" readonly />
          </mat-form-field>
          <ngx-mat-timepicker color="accent" #timeEnd></ngx-mat-timepicker>
        </div>
      </div>
      

      <div *ngIf="mForm.controls['openUntil'].errors != null && mForm.controls['openUntil'].touched">
        <mat-error *ngIf="mForm.controls['openUntil'].errors['compareValidator']">Opening and closing times cannot be the same.</mat-error>
      </div>

      
    </ng-container>

    <button mat-raised-button color="primary" disabled="{{!mForm.valid}}" type="submit">add</button>

  </form>

</div>