.slide {
  max-width: 100%;
  height: 100%;
  border-radius: .37em;
  background-size: cover;
  background-position: center;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 40px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 40px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slider {
  position: relative;
  height: 100%;
  padding: 1.25em
}
