<div class="container-pp">
    
    <h1>BeautyBook Privacy Policy</h1>

    <p><strong>Last Updated:</strong> 13-09-2023 </p>

    <p>At BeautyBook, we value your trust and respect your privacy. This Privacy Policy outlines how we collect, use, disclose, and protect information you provide to us or that we receive when you use our BeautyBook web service.</p>

    <h2>1. Information Collection</h2>

    <p>1.1. <strong>Personal Information:</strong> We may collect personal information such as your name, email address, phone number, and other data when you register or interact with our service.</p>

    <p>1.2. <strong>Usage Information:</strong> We automatically collect information about your interactions with our service, including actions you take and data about your device and browser.</p>

    <h2>2. Use of Information</h2>

    <p>2.1. We use the information provided to us for the following purposes:</p>

    <ul>
        <li>Providing you access to our services and features.</li>
        <li>Managing your account and ensuring security.</li>
        <li>Enhancing the quality of our services and developing new features.</li>
        <li>Sending you notifications and information about the service.</li>
        <li>Processing payments (if applicable) and providing you with receipts and invoices.</li>
    </ul>

    <h2>3. Disclosure of Information</h2>

    <p>3.1. We may disclose your information to third parties only in the following cases:</p>

    <ul>
        <li>With your consent.</li>
        <li>When necessary to fulfill our obligations to you.</li>
        <li>In accordance with applicable laws and in response to requests from law enforcement.</li>
    </ul>

    <h2>4. Information Security</h2>

    <p>We take reasonable measures to protect your information, but please remember that no method of data transmission over the Internet or electronic storage is entirely secure. We cannot guarantee the complete security of your data.</p>

    <h2>5. Your Rights</h2>

    <p>You have the right to access, correct, delete, and limit the processing of your personal data. You can also withdraw your consent to data processing at any time.</p>

    <h2>6. Changes to the Privacy Policy</h2>

    <p>We may update our privacy policy from time to time. If significant changes are made, we will notify you.</p>

    <h2>7. Contact Us</h2>

    <p>If you have any questions or comments regarding our privacy policy, please contact us at <a href="mailto:[logologi417@gmail.com]">logologi417@gmail.com</a>.</p>

</div>