/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/*regular style toast*/
@import 'ngx-toastr/toastr';

/* Provide sufficient contrast against white background */

body{
  font-family: 'Roboto', sans-serif;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.my-container{
  position: absolute;
  top: calc(75px + 1.5rem);
  bottom: 1.5rem;

  padding-right: 0 !important;
  padding-left: 0 !important;
}

@media (max-width: 767px) {
  .my-container {
    top: calc(35px + 1.5rem);
  }
}