<div>
  <ng-container *ngIf="workers != undefined; else loadWorkers">
    <div *ngIf="workers.length > 0; else notFound" class="bg-white rounded shadow tabel-responsive list-workers">
      <table>
        <thead>
        <tr>
          <th>{{"Customer"|translate}}</th>
          <th>{{"Price"|translate}}</th>
          <th>{{"Status"|translate}}</th>
          <th>{{"Temp"|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of workers">
          <td class="d-flex">
            <img src="../../../assets/svg/clients.svg" class="icon-user"/>
            <p>{{item.baseUser.userName}} {{item.baseUser.userSurname}}</p>
          </td>
          <td>
            <span>$56.07</span>
          </td>
          <td>
            <span class="badge bg-success shadow-md dark:group-hover:bg-transparent">Paid</span>
          </td>
          <td>
            <span class="badge bg-success shadow-md dark:group-hover:bg-transparent">Temp</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #notFound><p class="text-center text-danger h4">Not Found</p></ng-template>
    <img (click)="onInvitationEmployee()" src="../../../assets/svg/plus.svg" class="btn-plus">
  </ng-container>
  <ng-template #loadWorkers><mat-spinner style="margin: 0 auto;"></mat-spinner></ng-template>
</div>

