.header{
    width: 75%;
    margin: 0 auto;
    padding: 0 5px;
}
.input-search{
    display: flex;
    height: 45px;
}
.input-search :last-child{
    border-radius: 0 0.375rem 0.375rem 0;
}
.input-search :first-child{
    border-radius: 0.375rem 0 0 0.375rem;
}
.input-search input{
    border-radius: 0rem;
    margin-left: -1px;
}
.input-search-img{
    display: flex;
    padding: 0.375rem 0.75rem;
    color: #212529;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem 0 0 0.375rem;
    height: 35px;
}
.list-container{
    margin: 1em auto;
    width: 75%;
}
.list-company{
    display: block;
}
.btn{
    margin: 1em auto;
    display: block;
    width: 150px;
}
@media (max-width :767px){
    .main-container{
        margin-top: 1.25em;
    }
}
@media (max-width: 540px) {
    .header{
        width: auto;
    }
    .input-search{
        height: 40px;
    }
}