<header class="{{nav.style}}">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">

      <div *ngIf="nav.style == 'normal'; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><a class="navbar-brand" [routerLink]="['/']">BeautyBook</a></ng-template>
      <ng-template #elseBlock><a class="navbar-brand title" [routerLink]="['/']">BeautyBook</a></ng-template>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <li *ngIf="!isAuth" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>

          <li *ngIf="!isAuth" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']">Register</a>
          </li>

          <li *ngIf="isAuth" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/profile']">Profile</a>
          </li>

          <li *ngIf="isAuth && userData.roles.includes('admin')" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/adminPanel']">AdminPanel</a>
          </li>
          
          <li *ngIf="isAuth && userData.roles.includes('own_company') || userData.roles.includes('worker')" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/companyPanel']">MyCompany</a>
          </li>
          
          <li *ngIf="isAuth" class="nav-item" [routerLinkActive]="['link-active']">
            <button (click)="signOut()" class="btn btn-link">SignOut</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
