header{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.w75right{
  z-index: 100;
  width: 85%;
  right: 0;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 16px;
}
@media (max-width: 1300px) {
  .w75right{
    width: 75%;
  }
}
@media (max-width: 1200px) {
  .title{
    /*display: none;*/
  }
  .navbar div{
    /* width: auto; */
  }
}
@media (max-width:992px){
  .navbar-brand{
    white-space: nowrap !important;
  }
}
@media (max-width: 768px) {
  .w75right{
    /* width: calc(75px + 1.5rem); */
    width: 100%;
  }
  .title{
    display: block;
  }
  .navbar div{
    width: 100%;
  }
  html {
    font-size: 14px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}