<div class="container my-2">
    <h3>{{"InviteToCompany"|translate}}:</h3>
    <form [formGroup]="mForm" (ngSubmit)="onSubmit()">

        <div class="col-md-8 mb-6">
            <label for="email">{{"Email"|translate}}</label>
            <input formControlName="email" class="form-control" type="text" *ngIf="mForm.controls['email'].valid || !mForm.controls['email'].touched">
            <div *ngIf="!mForm.controls['email'].valid && mForm.controls['email'].touched">
              <input formControlName="email" class="form-control is-invalid" type="text">
              <small style="color:red" *ngIf="mForm.controls['email'].errors?.['required'] != undefined">{{"EmailIsRequired"|translate}}</small>
              <small style="color:red" *ngIf="mForm.controls['email'].errors?.['email'] != undefined">{{"ThisIsNotEmailAddress"|translate}}</small>
            </div>
        </div>
      
        <p id="message">{{message}}</p>
  
        <div class="my-2" align="end">
            <button class="btn btn-primary" type="submit" [disabled]="!mForm.valid">{{"Send"|translate}}</button>
        </div>
    </form>
  </div>