table tbody tr td, table tfoot tr th, table thead tr th {
    padding: .75rem 1rem;
}

table {
    width: 100%;
    border-collapse: collapse !important;
}

thead th 
{ 
    position: sticky; 
    top: 0; 
    background-color: #f6f8fa;
}

table tbody tr {
    border-bottom-width: 1px;
    border-color: #e0e6ed66 !important;
}

td img{
    filter: invert() opacity(0.5);
    width: 40px;
    height: 40px;
    margin: 0em .35em;
}

td p {
    margin: auto 0;
}

.control-td{
    float: right;
}

td select{
    min-width: 100px;
}

.btn-plus{
    width: 55px;
    background: #007bff;
    border-radius: 2em;
    padding: 5px;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
}