<div class="container my-2">
    <h3>{{"ResetPassword"|translate}}</h3>
    <form [formGroup]="mForm" (ngSubmit)="onSubmit()">
      <div>
  
        <div class="col-md-4 mb-3">
            <label for="password">{{"Password"|translate}}</label>
            <input formControlName="password" class="form-control" type="password">
            <div *ngIf="mForm.controls['password'].errors != null && mForm.controls['password'].touched">
              <small style="color:red" *ngIf="mForm.controls['password'].errors['required'] != undefined">{{"PasswordIsRequired"|translate}}</small>
              <small style="color:red" *ngIf="mForm.controls['password'].errors['maxlength'] != undefined || mForm.controls['password'].errors['minlength'] != undefined">{{"PasswordLength"|translate}}</small>
            </div>
          </div>
    
          <div class="col-md-4 mb-3">
            <label for="confirmPassword">{{"ConfirmPassword"|translate}}</label>
            <input formControlName="confirmPassword" class="form-control" type="password">
            <div *ngIf="mForm.controls['confirmPassword'].errors != null && mForm.controls['confirmPassword'].touched">
              <small style="color:red" *ngIf="mForm.controls['confirmPassword'].errors['confirmedValidator'] != undefined">{{"PasswordMismatch"|translate}}</small>
            </div>
          </div>
      </div>
  
      <p *ngIf="lastErrorMessage != ''" style="color: red;">{{lastErrorMessage}}</p>
  
      <button class="btn btn-primary" type="submit" [disabled]="!mForm.valid">{{"Send"|translate}}</button>
    </form>
  </div>
  
  
  