<div class="m-3">
    <form [formGroup]="mForm" (ngSubmit)="onSubmit()">
        <label class="h5">{{header|translate}}</label>
        <div class="row form-group">
            <div class="col-12 col-sm">
                <label for="description">{{"Title"|translate}}</label>
                <input formControlName="name" type="text" class="form-control">
                <div *ngIf="mForm.controls['name'].errors != null && mForm.controls['name'].touched">
                    <small style="color:red" *ngIf="mForm.controls['name'].errors['required'] != undefined">{{"TitileIsRequired"|translate}}</small>
                    <small style="color:red" *ngIf="mForm.controls['name'].errors['minlength'] != undefined || mForm.controls['name'].errors['maxlength'] != undefined">{{"TitleLength"|translate}}</small>
                </div>
            </div>
        
            <div class="col-12 col-sm">
                <label for="price">{{"Price"|translate}}</label>
                <input formControlName="price" type="number" step="1" min="1" max="50000" class="form-control">
                <div *ngIf="mForm.controls['price'].errors != null && mForm.controls['price'].touched">
                    <small style="color:red" *ngIf="mForm.controls['price'].errors['required'] != undefined">{{"PriceIsRequired"|translate}}</small>
                    <small style="color:red" *ngIf="mForm.controls['price'].errors['min'] != undefined || mForm.controls['price'].errors['max'] != undefined">{{"PriceLength"|translate}}</small>
                </div>
            </div>

        </div>
    
        <div class="col">
            <label for="description">{{"Description"|translate}}</label>
            <textarea class="form-control" formControlName="description" rows="5" maxlength="400" ></textarea>
            <div *ngIf="mForm.controls['description'].errors != null && mForm.controls['description'].touched">
              <small style="color:red" *ngIf="mForm.controls['description'].errors['maxlength'] != undefined">{{"DescriptionsLength"|translate}}</small>
            </div>
        </div>

        <div class="col">
            <label for="time">{{"Time"|translate}}</label>
            <input class="form-control" style="max-width: 200px;" formControlName="time" [ngxMatTimepicker]="picker" [format]="24" [min]="'00:05'" readonly="readonly">  
            <ngx-mat-timepicker color="accent" #picker ></ngx-mat-timepicker>

        </div>
    
        <div>
            <label>{{"Categories"|translate}}</label>
            <div class="d-flex">
                <select id="mainCategory" (change)="setSubCategory($event)" class="form-control" style="max-width: 200px; margin-right: 5px;">
                    <option *ngIf="!data.isUpdateMode" selected disabled>nono</option>
                    <option *ngFor="let item of categories; let last = last" value="{{item.id}}">{{item.name}}
                        <ng-container *ngIf="last && data.isUpdateMode">
                            {{ onFinishFor() }}
                       </ng-container>
                    </option>
                </select>
                <select hidden id="subCategory" (change)="setSubCategory($event)" class="form-control" style="max-width: 200px; margin-left: 5px;"></select>
            </div>
        </div>
    
        <small *ngIf="errorMessage != ''" style="color:red">{{errorMessage}}</small>

        <div class="mx-1 my-2" align="end">
            <button class="btn btn-primary" type="submit" [disabled]="!mForm.valid">{{data.isUpdateMode ? ('Update'|translate) : ('Create'|translate) }}</button>
        </div>
    </form>
</div>