<div class="container">
    <app-search-company-input #search (resultQuery)="openSearch($event)" [waitClick]="true"></app-search-company-input>
    <!--Carousel Recommended (top 12)-->
    <ng-container *ngIf="topCompany == undefined;else carouselRecommended"><mat-spinner style="margin: 0 auto;"></mat-spinner></ng-container>
    <ng-template #carouselRecommended>
        <div>
            <div *ngIf="topCompany != undefined && topCompany.length > 0;else notFound" class="container-recommended">
                <p class="h4">{{'Recommended'|translate}}</p>
                <drag-scroll #nav [scrollbar-hidden]="true">
                  <!-- Loop through recommended companies and display them -->
                    <ng-container *ngFor="let item of topCompany; let i = index">
                        <app-company-card drag-scroll-item [company]="item"></app-company-card>
                    </ng-container>
                </drag-scroll>
                <!-- Navigation buttons for the carousel -->
                <img class="carousel-cont-prevrol" (click)="moveNext()" src="../../assets/svg/arrow-left.svg">
                <img class="carousel-control-next" (click)="movePrevious()" src="../../assets/svg/arrow-left.svg">
            </div>
        </div>
        <ng-template #notFound><p class="text-center h5">{{'Not Found'|translate}}</p></ng-template>
    </ng-template>
    <!--Enable Location Services-->
    <div #enableLocationServices class="enable-location" id="enable-location" *ngIf="!location.isLocationAccessGranted()">
        <div class="location-data">
            <div class="location-text">
                <h4>{{"WantToEnableLocationServices"|translate}}</h4>
                <p>{{"TurnOnLocationServicesToFindTheBestSalonsInYourArea"|translate}}</p>
            </div>
            <div class="location-btn">
                <!-- Buttons to enable or disable location services -->
                <button (click)="turnOnLocation()" class="btn btn-success">{{"Yes"|translate}}</button>
                <button (click)="turnOffLocation()" class="btn btn-outline-success">{{"No"|translate}}</button>
            </div>
        </div>
        <img src="../../assets/images/placeholder.png">
    </div>
    <!--All categories-->
    <div #allCategories>
        <div class="container-category">
            <ng-container *ngIf="categories != undefined;else loadCategories">
                <ng-container *ngIf="categories != undefined && categories.length > 0;else notFound">
                  <!-- Loop through categories and subcategories -->
                    <div class="item-category" *ngFor="let item of categories">
                        <div class="content-category">
                          <!-- Links to search by category -->
                            <a href="/search?category={{item.name}}" class="title-category">{{item.name}}</a>
                            <ul>
                                <li *ngFor="let subItem of item.categories">
                                    <a href="/search?category={{subItem.name}}">{{subItem.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-container>
                <ng-template #notFound><p class="text-center h5">NotFound</p></ng-template>
            </ng-container>
            <ng-template #loadCategories><mat-spinner></mat-spinner></ng-template>
        </div>
    </div>
    <!--Ad for our android app-->
    <div #adForOurAndroidApp></div>
</div>
