<div class="container-fluid py-3">
    <form [formGroup]="mForm" (ngSubmit)="onSubmit()">
    <div>
        <div>
            <mat-form-field>
                <mat-label>{{"SelectEmployee"|translate}}</mat-label>
                <mat-select (selectionChange)="findFreeTime()" formControlName="workerId">
                  <mat-option *ngFor="let item of workers" value="{{item.id}}">{{item.baseUser.userName}} {{item.baseUser.userSurname}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-form-field">
                <mat-label>{{"ChooseDate"|translate}}</mat-label>
                <input (dateChange)="findFreeTime()" matInput [matDatepicker]="datepicker" formControlName="date" readonly>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="datepicker" [disabled]="!mForm.controls.workerId.valid"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>{{"Cancel"|translate}}</button>
                    <button mat-raised-button color="primary" matDatepickerApply>{{"Apply"|translate}}</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
        </div>

        <div class="container-freeTime">
          <div class="list-freeTime" *ngIf="availableTime.length > 0; else notAvailableTime">
            <mat-radio-group aria-label="Select an option" formControlName="time">
              <mat-radio-button *ngFor="let item of availableTime" value="{{item}}">{{item.substring(0, item.lastIndexOf(":"))}}</mat-radio-button>
            </mat-radio-group>
          </div>
          <ng-template #notAvailableTime>
            <div>
              <p *ngIf="msgForAvailableTime != undefined; else notFreePlaces" class="text-center">{{msgForAvailableTime}}</p>
              <ng-template #notFreePlaces>
                <p class="text-center">{{"NotFreePlaces"|translate}}</p>
              </ng-template>
            </div>
          </ng-template>
        </div>
    </div>
      <textarea maxlength="500" class="form-control" matInput formControlName="note" placeholder="{{'Note'|translate}}"></textarea>
      <div class="container-btn" align="end">
        <button class="btn btn-danger mx-1 btn-max-w" type="button" *ngIf="data.isUpdateMode" (click)="remove()">{{"Remove"|translate}}</button>
        <button class="btn btn-success mx-1 btn-max-w" type="submit" [disabled]="mForm.invalid">{{data.isUpdateMode ? ('Update|translate') : ('Booking'|translate)}}</button>
      </div> 
      <p class="text-danger text-center m-0 p-0" *ngIf="error != undefined">{{error}}</p>
    </form>
</div>