
<div>

  <div>
    <div class="container-time">
      <div class="timepicker">
        <label>{{"StartTime"|translate}}:</label>
        <mat-form-field>
          <input matInput 
          [format]="24" 
          [ngxMatTimepicker]="timeStart" 
          placeholder="09:00" 
          [(ngModel)]="time.openFrom" 
          readonly />
        </mat-form-field>
        <ngx-mat-timepicker (closed)="timeSet()" color="accent" #timeStart></ngx-mat-timepicker>
      </div>
      <div class="timepicker">
        <label>{{"EndTime"|translate}}:</label>
        <mat-form-field>
          <input matInput 
          [format]="24" 
          [ngxMatTimepicker]="timeEnd" 
          placeholder="10:00" 
          [(ngModel)]="time.openUntil" 
          readonly />
        </mat-form-field>
        <ngx-mat-timepicker color="accent" #timeEnd></ngx-mat-timepicker>
      </div>
  </div>

  </div>

  <div>
      <button class="btn btn-primary m-1" *ngIf="true" (click)="setCloseStatus()">set closed</button>
      <div style="float: right;">
          <button class="btn btn-danger m-1" (click)="cancel()">cancel</button>
          <button class="btn btn-success m-1" (click)="save()">save</button>
      </div>
  </div>

</div>
