<div class="container my-2">
  <h4>{{"ResetYourPassword"|translate}}</h4>
  <form [formGroup]="mForm" (ngSubmit)="onSubmit()">
      
        <div class="col-md-4 mb-3">
          <label for="email">{{"Email"|translate}}</label>
          <input formControlName="email" class="form-control" type="text" *ngIf="mForm.controls['email'].valid || !mForm.controls['email'].touched">
          <div *ngIf="!mForm.controls['email'].valid && mForm.controls['email'].touched">
            <input formControlName="email" class="form-control is-invalid" type="text">
            <small style="color:red" *ngIf="mForm.controls['email'].errors?.['required'] != undefined">{{"EmailIsRequired"|translate}}</small>
            <small style="color:red" *ngIf="mForm.controls['email'].errors?.['email'] != undefined">{{"ThisIsNotEmailAddress"|translate}}</small>
          </div>
        </div>

        <button class="btn btn-primary" [disabled]="!mForm.valid">{{"Reset"|translate}}</button>
  </form>

  <div *ngIf="result != ''">
      <p style="color: red;" *ngIf="isErrorResult == true">{{result}}</p>
      <p style="color: green;" *ngIf="isErrorResult == false">{{result}}</p>
  </div>

  <a href="/login">{{"Login"|translate}}</a>
</div>